




body{
    background-image:url('../static/images/Earth-1-1920x1080.jpg');
    background-size: 100%;
    height: 200vh;

}
.navbar::before{
    content:"";
    position: absolute;
    z-index: -1;
    background-color:rgba(0, 0, 0, 0.367);
    
    border: 3px solid rgb(80 60 60 / 37%) ;
    border-radius: 63px;
    height:100%;
    width:100%;
}

.navbar{
    display:flex;
    flex-direction:column;
    position: relative;
   

    


}
.navbar ul li a:hover{
    border-radius:40px;
    border:3px solid white;
    background-color: grey;
    color: black;
    padding-right:12px;
    padding-left:12px;
    
}
.navbar ul li a{
    
    color: white;
    padding-top:10px ;
    text-decoration: none;
    float: right;
    padding-right:15px;
    padding-left:15px;
    padding-bottom: 7px;
    font-weight: bold;



}
.navbar img{
    display: block;
    float: left;
    padding-bottom: 0px;
    padding-top: 0px;;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 70px;
    width:70px;
}
.navbar ul{
    margin-top: 1px;
    margin-bottom:0px;
    
}
.navbar ul li{
    margin-top: 12px;
    display:block;
    font-size: 25px;

}
.nav{padding-bottom: 50px;;}







.submitreport{
   
    display: flex;
    flex-direction: column;
    margin :auto;
    background-color:rgb(48 48 48 / 42%);
    border:2px solid rgb(157 153 153 / 43%);
    border-radius: 10px;;
    width: 49em;
    height:26em;
}
.submitreport *{
    margin: auto;
    color:white;
  
}
.submitreport>p{
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 30px;

}
#headline{
    color: black;
    padding-left: 5px;
    height:2em;
    width:28em;
    border-radius: 10px;
    border: 1px solid black;
}
#content{
    color: black;
    padding-top: 5px;
    padding-left: 5px;
    width: 28em;
    border-radius: 10px;
    border: 1px solid black;
}
.submit{
    display: flex;
    justify-content: center;
}
.submit input{
    border-radius: 20px;
    background-color: red;
    width: 6em;
    height:3em;
    
}
#contentlabel{
    margin-bottom: 100px;;
}